<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jsfiles</param-name>
        <param-value>/classes/JavaScript</param-value>
    </context-param>
    <servlet>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingConfigSamplingPlanStructure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQualitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingResultCheckSpecQuantitative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSpecQuantitativeRuleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.nodb.TestingConfigSpecQualitativeRuleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSpecQualitativeRuleFormat</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.nodb.TestingConfigSpecQuantitativeRuleFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingConfigSop</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingConfigSop</servlet-class>
    </servlet>
    <!-- testing for the Platform.Begin -->
    <servlet>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMConversionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.TestingUOMFamilyTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataSample</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.data.TstDataSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataBatchArrSequence</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.data.TstDataBatchArrSequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AuthenticationAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppHeaderAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AppHeaderAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppProcedureListAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AppProcedureListAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingServer</servlet-name>
        <servlet-class>com.labplanet.servicios.app.TestingServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationAPIParams</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AuthenticationAPIParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.zUserProfileAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalAPIsParams</servlet-name>
        <servlet-class>com.labplanet.servicios.app.GlobalAPIsParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SopUser</servlet-name>
        <servlet-class>com.labplanet.servicios.app.SopUserAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertifyAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.CertifyAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertifyAnalysisMethodactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.CertifyAnalysisMethodAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SopUserAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.SopUserAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysisMethodCertifUserAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.CertifyAnalysisMethodAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.modulesample.SampleAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.modulesample.SampleAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleAPIParams</servlet-name>
        <servlet-class>com.labplanet.servicios.modulesample.SampleAPIParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.modulebatch.BatchAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonitSampleAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonitSampleAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureDeployment</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.platform.ProcedureDeployment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TstDataEnvMonit</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.module.envmonit.TstDataEnvMonit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseError</servlet-name>
        <servlet-class>com.labplanet.servicios.ResponseError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseSuccess</servlet-name>
        <servlet-class>com.labplanet.servicios.ResponseSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatformDefinitionToInstance</servlet-name>
        <servlet-class>com.labplanet.servicios.requirements.PlatformDefinitionToInstance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureDefinitionToInstance</servlet-name>
        <servlet-class>com.labplanet.servicios.requirements.ProcedureDefinitionToInstance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbTestingLimitAndResult</servlet-name>
        <servlet-class>com.labplanet.servicios.testing.config.db.DbTestingLimitAndResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonSampleAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonSampleAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonProdLotAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonProdLotAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonIncubatorAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonIncubatorAPIactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonIncubatorAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonIncubatorAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonIncubBatchAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonIncubBatchAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablesDeployment</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.TablesDeployment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaProjectAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaProjectAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaStudyAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaStudyAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaStudyAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaStudyAPIFrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaConfigVariableAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaConfigVariableAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaConfigVariableAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaConfigVariableAPIFrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomaStudyObjectsVariablesAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.GenomaStudyObjectsVariablesAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesterFromUploadFile</servlet-name>
        <servlet-class>com.labplanet.servicios.app.TesterFromUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingRegressionUAT</servlet-name>
        <servlet-class>com.labplanet.servicios.app.TestingRegressionUAT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingAPIActions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.TestingAPIActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayCalendarAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.HolidayCalendarAPIactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayCalendarAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.HolidayCalendarAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.IncidentAPIactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.IncidentAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstrumentsAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.procs.InstrumentsAPIactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstrumentsAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.procs.InstrumentsAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingPlatformInstruments</servlet-name>
        <servlet-class>com.labplanet.servicios.app.procs.TestingPlatformInstruments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingGenoma</servlet-name>
        <servlet-class>com.labplanet.servicios.modulegenoma.TestingGenoma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingInspLotRM</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleinspectionlotrm.TestingInspLotRM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingEnvMonitSamples</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.TestingEnvMonitSamples</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingSamples</servlet-name>
        <servlet-class>com.labplanet.servicios.modulesample.TestingSamples</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonAPIStats</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonAPIStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequirementsProcedureDefinitionAPIQueries</servlet-name>
        <servlet-class>com.labplanet.servicios.proceduredefinition.ReqProcedureDefinitionQueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequirementsProcedureDefinitionAPIActions</servlet-name>
        <servlet-class>com.labplanet.servicios.proceduredefinition.ReqProcedureDefinitionAPIActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModulesConfigMasterDataAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.ModulesConfigMasterDataAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleDefinitionAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.moduledefinition.ModuleDefinitionAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvMonAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleenvmonit.EnvMonAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestigationAPI</servlet-name>
        <servlet-class>com.labplanet.servicios.app.InvestigationAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestigationAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.InvestigationAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvTrackingAPIactions</servlet-name>
        <servlet-class>module.inventorytrack.apis.InvTrackingAPIactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvTrackingAPIqueries</servlet-name>
        <servlet-class>module.inventorytrack.apis.InvTrackingAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingPlatformInvTracking</servlet-name>
        <servlet-class>module.inventorytrack.apis.TestingPlatformInvTracking</servlet-class>
    </servlet>    
    <servlet>
        <description>This servlet sends file to client</description>
        <display-name>DownloadFileServlet</display-name>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>net.codejava.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoTutorialAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.VideoTutorialAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSessionAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.UserSessionAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InspLotRMAPIactions</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleinspectionlotrm.InspLotRMAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InspLotRMAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.moduleinspectionlotrm.InspLotRMAPIfrontend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppTrazitInitSession</servlet-name>
        <servlet-class>com.labplanet.servicios.app.AppTrazitInitSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndpointsDocAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.doc.functionality.EndpointsDocAPIqueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingCoverageRun</servlet-name>
        <servlet-class>com.labplanet.servicios.app.TestingCoverageRun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatformAdminAPIQueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.platformadmin.PlatformAdminAPIQueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatformAdminAPIActions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.platformadmin.PlatformAdminAPIActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedQueriesactions</servlet-name>
        <servlet-class>com.labplanet.servicios.app.SavedQueriesAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedQueriesAPIqueries</servlet-name>
        <servlet-class>com.labplanet.servicios.app.SavedQueriesAPIfrontend</servlet-class>
    </servlet>
    <!-- Start mapping and urls block -->
    <!-- Block #1. App Platform Begin. -->
    <servlet-mapping>
        <servlet-name>AuthenticationAPIactions</servlet-name>
        <url-pattern>/app/AuthenticationAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppTrazitInitSession</servlet-name>
        <url-pattern>/AppTrazitInitSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatformAdminAPIQueries</servlet-name>
        <url-pattern>/app/PlatformAdminAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatformAdminAPIActions</servlet-name>
        <url-pattern>/app/PlatformAdminAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppHeaderAPIqueries</servlet-name>
        <url-pattern>/app/AppHeaderAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppProcedureListAPI</servlet-name>
        <url-pattern>/app/AppProcedureListAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseSuccess</servlet-name>
        <url-pattern>/ResponseSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseError</servlet-name>
        <url-pattern>/ResponseError</url-pattern>
    </servlet-mapping>
    <!-- Block #1. App Platform End. -->
    <!-- Block #2. App Proc Managements Area Begin.-->
    <servlet-mapping>
        <servlet-name>RequirementsProcedureDefinitionAPIQueries</servlet-name>
        <url-pattern>/appProcMgr/RequirementsProcedureDefinitionAPIQueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequirementsProcedureDefinitionAPIActions</servlet-name>
        <url-pattern>/appProcMgr/RequirementsProcedureDefinitionAPIActions</url-pattern>
    </servlet-mapping>
    <!-- Block #2. App Proc Managements Area End.-->
    <!-- Block 3# App Platform Modules Begin. -->
    <servlet-mapping>
        <servlet-name>SavedQueriesactions</servlet-name>
        <url-pattern>/app/SavedQueriesAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedQueriesAPIqueries</servlet-name>
        <url-pattern>/app/SavedQueriesAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoTutorialAPIqueries</servlet-name>
        <url-pattern>/app/VideoTutorialAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSessionAPIqueries</servlet-name>
        <url-pattern>/app/UserSessionAPIqueries</url-pattern>
    </servlet-mapping>
    <!-- Block 3# App Platform Modules End. -->
    <!-- Block 4# App Modules/Procedures Deployment Begin. -->
    <servlet-mapping>
        <servlet-name>ModuleDefinitionAPI</servlet-name>
        <url-pattern>/app/ModuleDefinitionAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingCoverageRun</servlet-name>
        <url-pattern>/testing/platform/TestingCoverageRun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndpointsDocAPIqueries</servlet-name>
        <url-pattern>/Doc/EndpointsDocAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatformDefinitionToInstance</servlet-name>
        <url-pattern>/PlatformDefinitionToInstance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureDefinitionToInstance</servlet-name>
        <url-pattern>/ProcedureDefinitionToInstance</url-pattern>
    </servlet-mapping>
    <!-- Block 4# App Modules Deployment End. -->
    <!-- Block 5# Modules Master Data definition Begin. -->
    <servlet-mapping>
        <servlet-name>ModulesConfigMasterDataAPI</servlet-name>
        <url-pattern>/modules/ConfigMasterDataAPI</url-pattern>
    </servlet-mapping>
    <!-- Block 5# Modules Master Data definition End. -->
    <!-- Block 6# Testing Begin. -->
    <servlet-mapping>
        <servlet-name>TestingRegressionUAT</servlet-name>
        <url-pattern>/testing/platform/TestingRegressionUAT</url-pattern>
    </servlet-mapping>
    <!-- Block 6# Testing End. -->
    <!-- Block 7# Modules Begin. -->
    <!-- Block 7.1 Samples Module Begin. -->
    <servlet-mapping>
        <servlet-name>SampleAPIactions</servlet-name>
        <url-pattern>/modulesample/SampleAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleAPIParams</servlet-name>
        <url-pattern>/modulesample/SampleAPIParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleAPIqueries</servlet-name>
        <url-pattern>/modulesample/SampleAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingSamples</servlet-name>
        <url-pattern>/testing/moduleSamples/TestingSamples</url-pattern>
    </servlet-mapping>
    <!-- Block 7.1 Samples Module End. -->
    <!-- Block 7.2 Environmental Monitoring Module Begin. -->
    <servlet-mapping>
        <servlet-name>EnvMonAPIactions</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonitSampleAPIqueries</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonSampleAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonSampleAPIactions</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonSampleAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonProdLotAPIactions</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonProdLotAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonIncubatorAPIactions</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonIncubatorAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonIncubatorAPIqueries</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonIncubatorAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonIncubBatchAPIqueries</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonIncubBatchAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonAPIqueries</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvMonAPIStats</servlet-name>
        <url-pattern>/moduleenvmon/EnvMonAPIstats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingEnvMonitSamples</servlet-name>
        <url-pattern>/testing/moduleEnvMonit/TestingEnvMonitSamples</url-pattern>
    </servlet-mapping>
    <!-- Block 7.2 Environmental Monitoring Module End. -->
    <!-- Block 7.3 Genoma Module Begin. -->
    <servlet-mapping>
        <servlet-name>TablesDeployment</servlet-name>
        <url-pattern>/modulegenome/TablesDeployment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaProjectAPIactions</servlet-name>
        <url-pattern>/modulegenoma/GenomaProjectAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaStudyAPIactions</servlet-name>
        <url-pattern>/modulegenoma/GenomaStudyAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaStudyAPIqueries</servlet-name>
        <url-pattern>/modulegenoma/GenomaStudyAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaConfigVariableAPI</servlet-name>
        <url-pattern>/modulegenoma/GenomaConfigVariableAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaConfigVariableAPIqueries</servlet-name>
        <url-pattern>/modulegenoma/GenomaConfigVariableAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomaStudyObjectsVariablesAPI</servlet-name>
        <url-pattern>/modulegenoma/GenomaStudyObjectsVariablesAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingGenoma</servlet-name>
        <url-pattern>/testing/moduleGenoma/TestingGenoma</url-pattern>
    </servlet-mapping>
    <!-- Block 7.3 Genoma Module End. -->
    <!-- Block 7.5 Inspection Lots Module Begin. -->
    <servlet-mapping>
        <servlet-name>InspLotRMAPIactions</servlet-name>
        <url-pattern>/moduleinsplotrm/InspLotRMAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InspLotRMAPIqueries</servlet-name>
        <url-pattern>/moduleinsplotrm/InspLotRMAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingInspLotRM</servlet-name>
        <url-pattern>/testing/moduleInspLotRM/TestingInspLotRM</url-pattern>
    </servlet-mapping>
    <!-- Block 7.5 Inspection Lots Module End. -->
    <!-- Block 7# Modules End -->
    <!-- Block 8# Generic or Common Modules Begin -->
    <!-- Block 8.1 Investigation Module Begin. -->
    <servlet-mapping>
        <servlet-name>InvestigationAPI</servlet-name>
        <url-pattern>/app/InvestigationAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestigationAPIqueries</servlet-name>
        <url-pattern>/app/InvestigationAPIqueries</url-pattern>
    </servlet-mapping>
    <!-- Block 8.1 Investigation Module End. -->
    <!-- Block 8.2 Instruments Module Begin. -->
    <servlet-mapping>
        <servlet-name>InstrumentsAPIactions</servlet-name>
        <url-pattern>/app/procs/InstrumentsAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstrumentsAPIqueries</servlet-name>
        <url-pattern>/app/procs/InstrumentsAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingPlatformInstruments</servlet-name>
        <url-pattern>/testing/app/TestingPlatformInstruments</url-pattern>
    </servlet-mapping>
    <!-- Block 8.2 Instruments Module End. -->
    <!-- Block 8.3 Instruments Module Begin. -->
    <servlet-mapping>
        <servlet-name>InvTrackingAPIactions</servlet-name>
        <url-pattern>/app/procs/InvTrackingAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvTrackingAPIqueries</servlet-name>
        <url-pattern>/app/procs/InvTrackingAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingPlatformInvTracking</servlet-name>
        <url-pattern>/testing/app/TestingPlatformInvTracking</url-pattern>
    </servlet-mapping>
    <!-- Block 8.3 Instruments Module End. -->
    <!-- Block 8.4 SOPs Module Begin. -->
    <servlet-mapping>
        <servlet-name>SopUser</servlet-name>
        <url-pattern>/app/SopUserAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertifyAPIqueries</servlet-name>
        <url-pattern>/app/CertifyAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertifyAnalysisMethodactions</servlet-name>
        <url-pattern>/app/CertifyAnalysisMethodAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SopUserAPIqueries</servlet-name>
        <url-pattern>/app/SopUserAPIqueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisMethodCertifUserAPIqueries</servlet-name>
        <url-pattern>/app/AnalysisMethodCertifUserAPIqueries</url-pattern>
    </servlet-mapping>
    <!-- Block 8.4 SOPs Module End. -->
    <!-- Block 8.5 Holidays Calendar Module Begin. -->
    <servlet-mapping>
        <servlet-name>HolidayCalendarAPIactions</servlet-name>
        <url-pattern>/app/HolidayCalendarAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidayCalendarAPIqueries</servlet-name>
        <url-pattern>/app/HolidayCalendarAPIqueries</url-pattern>
    </servlet-mapping>
    <!-- Block 8.5 Holidays Calendar Module End. -->
    <!-- Block 8.6 Incidents Module Begin. -->
    <servlet-mapping>
        <servlet-name>IncidentAPIactions</servlet-name>
        <url-pattern>/app/IncidentAPIactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentAPIqueries</servlet-name>
        <url-pattern>/app/IncidentAPIqueries</url-pattern>
    </servlet-mapping>
    <!-- Block 8.6 Incidents Module End -->
    <!-- Block 8# Generic or Common Modules End -->
    <!-- Servlets not sorted yet -->
    <servlet-mapping>
        <servlet-name>BatchAPI</servlet-name>
        <url-pattern>/modulebatch/BatchAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationAPIParams</servlet-name>
        <url-pattern>/AuthenticationAPIParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalAPIsParams</servlet-name>
        <url-pattern>/GlobalAPIsParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureDeployment</servlet-name>
        <url-pattern>/testing/platform/ProcedureDeployment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSop</servlet-name>
        <url-pattern>/testing/config/Sop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingUOMConversionTable</servlet-name>
        <url-pattern>/testing/config/UOMConversionTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingUOMFamilyTable</servlet-name>
        <url-pattern>/testing/config/UOMFamilyTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingServer</servlet-name>
        <url-pattern>/app/TestingServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbTestingLimitAndResult</servlet-name>
        <url-pattern>/testing/config/db/DbTestingLimitAndResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSamplingPlanStructure</servlet-name>
        <url-pattern>/testing/config/SamplingPlanStructure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQualitative</servlet-name>
        <url-pattern>/testing/config/ResultCheckSpecQualitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingResultCheckSpecQuantitative</servlet-name>
        <url-pattern>/testing/config/ResultCheckSpecQuantitative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataSample</servlet-name>
        <url-pattern>/testing/db/TstDataSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataBatchArrSequence</servlet-name>
        <url-pattern>/testing/db/TstDataBatchArrSequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TstDataEnvMonit</servlet-name>
        <url-pattern>/testing/db/TstDataEnvMonit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSpecQuantitativeRuleFormat</servlet-name>
        <url-pattern>/testing/config/testingConfigSpecQualitativeRuleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingConfigSpecQualitativeRuleFormat</servlet-name>
        <url-pattern>/testing/config/testingConfigSpecQuantitativeRuleFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesterFromUploadFile</servlet-name>
        <url-pattern>/testing/platform/TesterFromUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingAPIActions</servlet-name>
        <url-pattern>/testing/platform/TestingAPIActions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    
    
    



















</web-app>
